@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    --background-image: url('../img/bg2.png');
    --background-repeat: no-repeat;
    --background-size: cover;
    --position: relative;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.logo:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.linha-horizontal{
    margin: 0 auto;
    width: 77%;
    --color: #EEE;
    border-top: 0.5px solid #EEE;
    margin-top: 20px;
    --margin-bottom: 100px;
}

a{
    text-decoration: none;
    --color: black;
    color: #D8D8D8;
    color: #ffff;
    font-weight: 300;
}

a:hover{
    font-weight: 400;
    --color: #1c1c1c;
    color: greenyellow;
    --transition: 0.2s;
    transition: 0.3s ease-in-out;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    --background-color: #0a152f;
    --background-color: #1c1c1c;
    background-color: #131212;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --background-image: url(../img/bg2.png);

    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; /* Tenta misturar a imagem e o preto */
    opacity: 0.9; /* Ajuste se necessário */
}


nav ul{
    --background-color: #f9f7f7;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    list-style: none;
    --padding: 20px;
    font-size: 18px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#apresentacao h2{
    text-align: center;
    margin-top: 50px;
    --font-family: "Roboto", sans-serif;
    --font-family: "Dancing Script", cursive;
    --font-size: 50px;

}

#apresentacao .name{
    margin-bottom: 50px;
    text-align: center;
}

.container-apresentacao{
    display: flex;
    flex-direction: row;
   --justify-content: space-between;
    margin: 0 auto;
    background-color: #EEEEEE;
    width: 70%;
    height: 350px;
    margin-top: 30px;
    padding: 50px;
    border-radius: 6px;
    gap: 80px;
}

.container-apresentacao .redes-sociais{
    display: flex;
    gap: 25px;
    list-style: none;
    margin-top: 25px;
}

svg:hover{
    fill: #85c623;
    transition: 0.3s;
}

.photo-name{
    --width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -100;
}

.photo-name img{
    width: 130%;
}

img{
    width: 100%;
}

.container-apresentacao img {
    border: 5px solid rgb(217, 244, 150);
    --width: 30%;
    border-radius: 50%;
    --margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 1px;
}

.coluna{
    display: block;
}

#title-projetos{
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    --background-color: #1c1c1c;
}

#title-contato{
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

#projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    --background-color: antiquewhite;
    width: 80%;

}

#contato{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

form input, form textarea {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 8px; /* Melhor experiência de digitação */
    margin-bottom: 8px; /* Menos espaço entre os campos */
    border-radius: 5px; /* Bordas arredondadas para estética */
    border: 1px solid #ccc; /* Aparência mais leve */
}

.text-contact{
    margin-bottom: 50px;
}

footer{
    background-color: #a9a9a9;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.footer-2{
    font-size: 15px;
    font-weight: 400;
}

.heart{
    color: red;
}

.logo img {
    height: 50px; /* Ajuste o tamanho do logo */
}

.card {
    width: 300px;
    --background: white;
    background: #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

.card:hover{
    --border: 5px solid red;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}
.card h2 {
    font-size: 1.5em;
    color: #333;
}
.card p {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}

.btn-enviar{
    --background-color: greenyellow;
    background-color: #777777;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    width: 105%;
}

.btn-enviar:hover{
    background-color: #85c623;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao redor */
    transition: 0.3s ease-in-out; /* Suaviza o efeito */
}

.title-main{
    font-size: 60px;
}

.title-main2{
    font-size: 48px;
    font-weight: 300;
}


